:root{
    --branco-principal: white;
    --botao-azul: blue;
    --cor-de-fundo: black;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

}

.principal{
    background-image: url("Background.png");
    background-size: contain;
    background-repeat: no-repeat;
}